ul{list-style: none;padding:0;}
/*顶部css*/
ul.subnav {
	float: left;
}

ul.subnav ul {	
	list-style: none;
	border:1px solid #BFBFBF;
	overflow: hidden;
    padding: 8px 10px;
    box-shadow: 1px 1px 2px #CCCCCC;
}

ul.subnav ul li {list-style-type: none;
	display: block;
	position: relative;
	float: left;
}

ul.subnav li ul {
	display: none;
	background: #FFFFFF;
}

ul.subnav ul li a {
	display: block;
	white-space: nowrap;
}
ul.subnav li a{
	cursor: pointer;
    display: block;
    position: relative;
}
ul.subnav li a b {
    -moz-transition: -moz-transform 0.2s ease-in 0s;
    border-color: #CCCCCC #FFFFFF #FFFFFF;
    border-style: solid;
    border-width: 4px;
    font-size: 0;
    height: 0;
    line-height: 0;
    position: absolute;
    right: 10px;
    top: 7px;
    width: 0;
}
ul.subnav li:hover a b{
    -moz-transform: rotate(180deg);
    -moz-transform-origin: 50% 30%;
    border-color: #CCCCCC #FFFFFF #FFFFFF;
}
ul.subnav ul li a:hover {
	color: #FF5500;
}

ul.subnav li:hover ul {
	display: block;
	position: absolute;
}

ul.subnav li:hover li {
	float: none;
}

ul.subnav li:hover a {

}

ul.subnav li:hover li a:hover {
	color: #FF5500;
}
/*导航*/
#blob {

 border-right: 1px solid #0059ec;
 border-left: 1px solid #0059ec;
 position: absolute;
 top: 0;
 z-index : 1;
 background: #0b2b61;
 background: -moz-linear-gradient(top, #0b2b61, #1153c0);
 background: -webkit-gradient(linear, left top, left bottom, from(#0b2b61), to(#1153c0));
 -moz-border-radius: 4px;
 -webkit-border-radius: 4px;
 -moz-box-shadow: 2px 3px 10px #011331;
 -webkit-box-shadow: 2px 3px 10px #011331;

}

#nav {
 position: relative;
 background: #292929;
 float: left;
}

#nav li {
 float: left;
 list-style: none;
 border-right: 1px solid #4a4a4a;
 border-left: 1px solid black;
}

#nav li a {
 color: #e3e3e3;
 position: relative;
 z-index: 2;
 float: left;
 font-size: 16px;
 font-family: helvetica, arial, sans-serif;
 text-decoration: none;
 padding: 10px 20px;
}
/*产品列表*/
h3.title{background-color:whiteSmoke;}
h3.title span{
	font: bold 26px/26px "黑体","Microsoft Yahei";
    line-height: 29px;
    margin-left: 2px;
}
.goods{
	padding:3px;
    border: 1px solid #FFFFFF;
}
.goods .pic{
	text-align: center;
	position: relative;
}
.goods .price {
	background: none repeat scroll 0 0 #898989;
    border-radius: 2px 2px 2px 2px;
    bottom: 7px;
    color: #FFFFFF;
    height: 18px;
    line-height: 18px;
    opacity: 0.75;
    padding: 0 3px;
    position: absolute;
    right: 5px;
}
.goods .title{padding: 0 3px;}
.goods:hover{  
    background: #C9DDF2;
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}
/* footer */
.footer {
	margin: 20px auto 0;
	padding-bottom: 20px;
	text-align: center;
}
.footer .inner a {
	color: #666666;
	margin: 0 20px;
	text-decoration: none;
}
.footer .copyright,.footer .copyright a{color:#999999;}